<table>
  <% @user.content.each do |content| %>
    <% if content.try(:title) %>
      <tr>
        <td><%= image_tag("textpost.png", size: "60x60", alt: "Text Post") %></td>
        <td>
          <%= link_to content.title, post_path(content) %>
          <br/>
          <%="submitted #{time_ago_in_words(content.created_at)} ago by " %>
          <%= link_to content.user.username, user_path(content.user) %>
          <br/>
          <%= link_to content.comment_count.to_s + " comments".pluralize(content.comment_count), post_path(content) %>
          <br/><br/>
        </td>
      </tr>
    <% end %>
    <% if content.try(:body) %>
      <tr>
        <td width = 65px></td>
        <td>
          <% content_post = (Post.find_by_id(content.post_id)) %>
          <% @post = content_post %>
          <%= link_to @post.title, post_path(content.post_id)%> <%= " by " %>
          <%= link_to @post.user.username, user_path(@post.user) %>
          <br/>
          <%= link_to content.user.username, user_path(content.user) %>
          <% content_comment = (Comment.find_by_id(content.id)) %>
          <%= content_comment.score_total.to_s + " point".pluralize(content_comment.score_total) %>
          <%="#{time_ago_in_words(content_comment.created_at)} ago"%>
          <br/>
          <%= content_comment.body %>
          <br/><br/>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
