<% @user.posts.each do |post| %>
  <table>
    <tr><%= simple_format "" %>
      <td><%= link_to post.title, post_path(post)%></td>
    </tr>
    <tr>
      <td><%="submitted #{time_ago_in_words(post.created_at)} ago by "%>
          <%= link_to post.user.username, controller: "users", action: "show" %>
      </td>
    </tr>
    <tr>
      <td><%= link_to post.comments.count.to_s + " comment".pluralize(post.comments.count), post_path(post) %></td>
    </tr>
  </table>
<% end %>

<% @user.comments.each do |comment| %>
  <table>
    <tr><%= simple_format "" %>
    <% if comment.parent_type == "Post"%>
    <td><%= link_to Post.find(comment.parent_id).title, post_path(comment.parent_id)%></td>
    <% end %>
      <td><%= comment.body %></td>
    </tr>
    <tr>
      <td><%="submitted #{time_ago_in_words(comment.created_at)} ago by "%>
          <%= link_to comment.user.username, controller: "users", action: "show" %>
      </td>
    </tr>
  </table>
<% end %>
