<div class="h2" >
  <%= simple_format @user.username %>
</div>
<span class="h2"><%= rand(1000) %></span><%= " post karma" %>
<%= simple_format "" %>
<span class="h2"><%= rand(1000) %></span><%= " comment karma" %>


