<table>
  <% @posts.each do |post| %>
    <tr>
      <td><%= image_tag("textpost.png", size: "60x60", alt: "Text Post") %></td>
      <td>
        <%= link_to post.title, post_path(post)%>
        <%="submitted #{time_ago_in_words(post.created_at)} ago by "%>
        <%= link_to post.user.username, controller: "users", action: "show", id: post.user %>
        <div class="bottom-links">
          <%= simple_format link_to post.comments.count.to_s + " comment".pluralize(post.comments.count), post_path(post) %>
        </div>
      </td>
    </tr>
  <% end %>

</table>
<%= simple_format "" %>
<div id = "nav">
  <% if @page.to_i - 25 >= 0 %>
    <%= link_to 'Prev', posts_path(page: sprintf("%+d", @page.to_i - 25)) %>
  <% end %>
  <% if @page.to_i + 25 < Post.count %>
    <%= link_to 'Next', posts_path(page: sprintf("%+d", @page.to_i+25)) %>
  <% end %>
</div>
