<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "reddit", root_path, id:"logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to current_user.username, current_user %></li>
          <li><%= link_to "logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "log in", login_path %></li>
          <li><%= link_to "sign up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
